.feynman {
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 890px;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
}