.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*выравняла по центру и справа */
    position: relative;
    background-color: #f2f2f2;
    padding-left: 64px;
    margin: 0;
  }