.khan__book-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color:#2f80ed;
    text-decoration: none;
}

.khan__book-link:hover {
    opacity: .4;
    transition: opacity 2s ease-out;
}